{
  "project_name": "",
  "network_interface": "",
  "exclude": "",
  "exclude-ports": "",
  "user-agent": "",
  "web_ports": [80, 443, 593, 808, 3000, 4443, 5000, 5800, 5801, 6543, 7443, 7627, 8000, 8003, 8008, 8080, 8443, 8501, 8888],
  "web_services": ["http", "https", "http-alt", "http-proxy", "https-alt"],
  "aws_sync_account": "",
  "aws_sync_profile": "",
  "aws_sync_bucket": "",
  "cloud_sync_default": false,
  "ai_type": "",
  "ai_aws_profile": "",
  "ai_aws_account": "",
  "ai_aws_region": "us-east-1",
  "ai_aws_model": "us.anthropic.claude-sonnet-4-5-20250929-v1:0",
  "ai_gemini_model": "gemini-2.5-flash",
  "ai_gemini_token": "",
  "ai_athropic_model": "claude-sonnet-4-5-20250929",
  "ai_athropic_token": "",
  "ai_openai_model": "gpt-5-2025-08-07",
  "ai_openai_token": "",
  "ai_ollama_model": "llama3.1",
  "ai_ollama_host": "http://localhost:11434",
  "ai_azure_token": "",
  "ai_azure_endpoint": "",
  "ai_azure_model": "",
  "ai_azure_api_version": "2024-02-01",
  "ai_tokens": 64000,
  "ai_temperature": 0.7,
  "notification_enabled": false,
  "notification_type": "slack",
  "notification_webhook_url": "",
  "notification_user_email": ""
}
